@model Mini_MvcProject.Models.AddCars
﻿

<h1>Car Collection</h1>

<form method="post">

	<div class="mt-3 ">
		<label class="form-label">Name</label>
		<input type="text" class="form-control" asp-for="Name"/>
	</div>

	<div class="mt-3 ">
		<label class="form-label">Model_Name</label>
		<input type="text" class="form-control" asp-for="Model_Name"/>
	</div>

	<div class="mt-3 ">
		<label for="year">year</label>
		<input type="text" class="form-control" asp-for="year"/>
	</div>

	<div class="mt-3 ">
		<label for="Country">Country</label>
		<input type="text" class="form-control" asp-for="Country"/>
	</div>

	<div class="mt-3 ">
	   <button for="Submit">Submit</button>
	</div>

</form>